<section class="page" id="videos">
	<section id="videosView" class="view">
		<div id="presenter">
					<canvas id="canvas" class="canvas" width="150" height="150"></canvas>

		</div>
		<aside>
			<ul id="peersList">

			</ul>
		</aside>
		{{> videos/chat }}
		<a href="#" id="fullScreenBtn">full screen</a>
		<a href="#" id="leaveRoomBtn"><span>Leave Room</span></a>
	</section>
</section>